.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
storage/app/*
!storage/app/public
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
docs
postman
compose.yaml
Dockerfile
.dockerignore
README.md
phpunit.xml
.DS_Store
